/* =========================
   Texte
   ========================= */
h1 {
    font-size: 3rem;
}

h2 {
    margin-top: 50px;
    font-size: 2rem;
}

ul {
    font-family: "Lucida Sans", "Lucida Sans Regular",
                 "Lucida Grande", "Lucida Sans Unicode",
                 Geneva, Verdana, sans-serif;
    color: #F22292;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 40px;
    margin-right: 12px;
}

/* =========================
   Images
   ========================= */

img {
    position: relative;    
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.social-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-list li {
    margin: 15px 0;
}

.social-list a {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: .3s;
}

.social-list a:hover {
    color: #22F2EF;
}

.social-list img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: transform .3s;
}

.social-list a:hover img {
    transform: scale(1.2) rotate(-5deg);
}