p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F22292;
    font-size: 1em;
    font-style: italic;
    
}
body{
    background-image: url("images/background.jpg");
    background-attachment: scroll;
}
h1,h2,h3{
    font-family: 'Courier New', Courier, monospace;
    color: #22F2EF;
    font-size: 3em;
    text-align: center;
    background-image: url("images/bg.jpg");
    background-position: center;
    background-size: cover;
    border: 4px solid #373B44;
    border-radius: 47% 53% 69% 31% / 41% 100% 0% 59% ;
    -webkit-border-radius: 47% 53% 69% 31% / 41% 100% 0% 59% ;
    -moz-border-radius: 47% 53% 69% 31% / 41% 100% 0% 59% ;
    -ms-border-radius: 47% 53% 69% 31% / 41% 100% 0% 59% ;
    -o-border-radius: 47% 53% 69% 31% / 41% 100% 0% 59% ;
}
ul{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F22292;
    font-size: 1em;
}
#page_histoire0,#page_histoire1,#page_histoire3,#page_annexe_chp1,#page_annexe_chp2
{
    
    font-size: 3em;
}
.follow{
    color: #F22245;
}
a{
    color:black;
}
#logo
{
position: relative;
left:0;
width: 20%;
height : 20%;
top: 0;
}
img{
    position: relative;
}
.important{
    font-weight: 700;
}
.history1{
    font-style: italic;
}
.natsu{
    color:black;

}
.couaxia{
    color:aquamarine;
}